<div class="comments-section">
<script src="https://giscus.app/client.js"
        data-repo="ArjunHaritsa/portfolio"
        data-repo-id="R_kgDOQ2uxrA"
        data-category="General"
        data-category-id="DIC_kwDOQ2uxrM4C0yih"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>
</div>
